@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dotted-background {
  /* Dots on top */
  background-image:
          radial-gradient(circle, rgba(255, 255, 255, 0.12) 2px, transparent 0.5px),
          linear-gradient(to bottom, #059669, #22c55e, #059669);

  background-size: 60px 60px, 100% 100%;
}

.dotted-gray-background {
  background-color: #d1dbde;
  background-image:
          radial-gradient(circle, rgba(255, 255, 255, 0.31) 2px, transparent 0.5px);

  background-size: 60px 60px, 100% 100%;
}

.leaflet-container{
  background: transparent !important;
  z-index: 1 !important;
}